includes:
	- ../vendor/phpat/phpat/extension.neon

parameters:
	level: 0
	paths:
		- ../src
		- ../tests

services:
	-
		class: LaravelGiphy\Tests\Shared\SharedArchitectureTest
		tags:
			- phpat.test

	-
		class: LaravelGiphy\Tests\Core\CoreArchitectureTest
		tags:
			- phpat.test
